[Unit]
Description=MineWiki Engine for minewiki.kr
After=network.target mariadb.service

[Service]
Type=simple
WorkingDirectory=/var/www/mwiki
EnvironmentFile=/var/www/mwiki/.env
ExecStart=/root/.nvm/versions/node/v22.17.1/bin/node /var/www/mwiki/dist/src/server.js
Restart=always
RestartSec=5
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
